*{
    margin: 0;
    padding: 0;
}

body {
  background-image: url("img/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.conteneur {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  width: 100%;
  background-color: rgba(76, 6, 117, 0.3);
}

h1 {
  text-align: center;
}

#form button {
  background-color: #7468a0;
  border: none;
  outline: none;
}

#form button:hover {
  background-color: #9c0caff8;
}

.form-control {
  width: 250px;
  border-radius: 0%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

.tableau > h2 {
  text-align: center;
}

/* .btnSupprimer{
    color: tomato;
    cursor: pointer;
}

.btnModifier{
    color: #7468a0;
    cursor: pointer;
} */